# Assignment 02

Dear Team Members,

I hope you are doing GREAT!

The following assignment is a step-by-step process to implement a multiclass classification using Iris classical dataset.
The idea of the current assignment is to intensify what we have learned in deep learning.

There are some new concepts and challenges that we will face in the current assignment, and we need to resolve each issue and move to the next step.

In week 08 (lecture session), we will discuss part of the potential challenges. The assignment is easy to follow yet needs the patience to solve each question at a time.

**Note:**

Please note that every question has 0.5 and it provides five out of total ten marks for the assignment.

The video presentation, as you have done for Assignment 01, provides the rest of the mark, which is 5.

In short, 5 for coding + 5 for the video presentation = 10.

# New Section

##MATIAS HERTER - 101272358

In [65]:
#00 The iris.csv file (Iris dataset) is located in the Assignment folder below the current ipynb file.

 **Important Note:** We are NOT allowed to import the dataset from Keras. We need to upload the provided iris.csv file to colab from our Google Drive.

In [3]:
#00 1st, upload the iris.csv into your Google Drive (your Colab folder).

In [4]:
#01-a Find the path of iris.csv file, and save it in a variable called fileName.

In [5]:
#01-b Read the content of the iris.csv file and save it in a variable, named iris.

In [66]:
import pandas as pd

In [67]:
iris = pd.read_csv("iris.csv")

In [8]:
#01-c Show the first 5 rows of the dataframe.

In [68]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

As you see, the last column contains strings. We want to convert these strings to integers,  and we can work with them easily in our Neural Network model.

setosa -> 0

versicolor -> 1

virginica -> 2

In [10]:
#2-a Please convert the last column strings to integers, as 
# setosa -> 0
# versicolor -> 1
# virginica -> 2

In [69]:
species_integer = {'setosa':0, 'versicolor':1,'virginica':2}

In [70]:
iris['species'] = iris['species'].map(species_integer)

In [13]:
#2-b Now, check the first 5 elements of the iris dataset once again:

In [71]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [15]:
#03-a Select the first four columns of the dataframe as the Data and call the data x.

In [72]:
x = iris.iloc[:,:4]
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [17]:
#03-b Select the last column as the label and call it y.

In [73]:
y = iris.iloc[:,4:5]
y.head()

   species
0        0
1        0
2        0
3        0
4        0

In [19]:
#04 Now, it is the time to split the data (x) and the label (y) into training and testin segments, 
#   and call them parts x_train,x_test,y_train,y_test.

In [20]:
#04-a Please split the data, and label ito training and testing segments, while the size of test data is 20%,
#     and use randome_state = 123 to make all the answers similar in the whole class.

In [74]:
from sklearn.model_selection import train_test_split

In [75]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.20, random_state=123)

In [23]:
#04-b Please, check the first five rows of  x_train,x_test,y_train,y_test.

In [76]:
x_train.head()

     sepal_length  sepal_width  petal_length  petal_width
130           7.4          2.8           6.1          1.9
119           6.0          2.2           5.0          1.5
29            4.7          3.2           1.6          0.2
0             5.1          3.5           1.4          0.2
62            6.0          2.2           4.0          1.0

In [77]:
x_test.head()

     sepal_length  sepal_width  petal_length  petal_width
72            6.3          2.5           4.9          1.5
112           6.8          3.0           5.5          2.1
132           6.4          2.8           5.6          2.2
88            5.6          3.0           4.1          1.3
37            4.9          3.1           1.5          0.1

In [78]:
y_train.head()

     species
130        2
119        2
29         0
0          0
62         1

In [79]:
y_test.head()

     species
72         1
112        2
132        2
88         1
37         0

In [28]:
#04-c Check the length of the x_train and x_test. If the numbers are 120 & 30, AWESOME! 
#     You are good to continue!

In [80]:
len(x_train)

120

In [81]:
len(x_test)

30

In [31]:
#05-a Please, convert y_train and y_test into categorical, and call them
#     one_hot_train_labels, and one_hot_test_labels, respectively.

In [82]:
from keras.utils.np_utils import to_categorical

In [83]:
one_hot_train_labels = to_categorical(y_train)

In [84]:
one_hot_test_labels = to_categorical(y_test)

In [35]:
#06-a Please define a sequential model that contains 3 dense layers.
#     In the first and second layers, use 100 hidden units (neurons) and a 'relu' activation function.
#     For the last layer, we need to use 3 as the number of output, 
#     and the reason is we have three classes (setosa -> 0, versicolor -> 1, virginica -> 2)
#     Also, please pick an appropriate activation function for the last layer. 
#     (You already have guessed what could be the best when we have converted the labels to categorical.)

In [85]:
from keras import models
from keras import layers

In [86]:
model = models.Sequential()
model.add(layers.Dense(100, activation='relu'))
model.add(layers.Dense(100, activation='relu'))
model.add(layers.Dense(3, activation='softmax'))

In [38]:
#06-b Now, please compile your model using 'rmsprop', an appropriate loss function, and 'accuracy' for your metrics.

In [87]:
model.compile(optimizer='rmsprop',loss='categorical_crossentropy',metrics=['accuracy'])

In [40]:
#07-a Pleease fit your model using epoch=20, batch = 10.

In [88]:
model.fit(x_train, one_hot_train_labels, epochs=20, batch_size=10)

Epoch 1/20
12/12 [==============================] - 1s 2ms/step - loss: 1.0195 - accuracy: 0.4833
Epoch 2/20
12/12 [==============================] - 0s 2ms/step - loss: 0.7935 - accuracy: 0.6250
Epoch 3/20
12/12 [==============================] - 0s 2ms/step - loss: 0.6529 - accuracy: 0.7583
Epoch 4/20
12/12 [==============================] - 0s 2ms/step - loss: 0.5514 - accuracy: 0.7917
Epoch 5/20
12/12 [==============================] - 0s 2ms/step - loss: 0.4982 - accuracy: 0.8417
Epoch 6/20
12/12 [==============================] - 0s 2ms/step - loss: 0.4562 - accuracy: 0.7833
Epoch 7/20
12/12 [==============================] - 0s 2ms/step - loss: 0.3891 - accuracy: 0.9083
Epoch 8/20
12/12 [==============================] - 0s 2ms/step - loss: 0.3712 - accuracy: 0.8750
Epoch 9/20
12/12 [==============================] - 0s 2ms/step - loss: 0.3174 - accuracy: 0.9000
Epoch 10/20
12/12 [==============================] - 0s 2ms/step - loss: 0.3136 - accuracy: 0.8833
Epoch 11/20
12/12 [==============================] - 0s 3ms/step - loss: 0.2745 - accuracy: 0.9250
Epoch 12/20
12/12 [==============================] - 0s 2ms/step - loss: 0.2767 - accuracy: 0.8917
Epoch 13/20
12/12 [==============================] - 0s 2ms/step - loss: 0.2368 - accuracy: 0.9417
Epoch 14/20
12/12 [==============================] - 0s 2ms/step - loss: 0.2261 - accuracy: 0.9333
Epoch 15/20
12/12 [==============================] - 0s 2ms/step - loss: 0.1870 - accuracy: 0.9583
Epoch 16/20
12/12 [==============================] - 0s 2ms/step - loss: 0.1777 - accuracy: 0.9583
Epoch 17/20
12/12 [==============================] - 0s 2ms/step - loss: 0.2036 - accuracy: 0.9417
Epoch 18/20
12/12 [==============================] - 0s 2ms/step - loss: 0.2043 - accuracy: 0.9250
Epoch 19/20
12/12 [==============================] - 0s 2ms/step - loss: 0.1686 - accuracy: 0.9417
Epoch 20/20
12/12 [==============================] - 0s 2ms/step - loss: 0.1433 - accuracy: 0.9667

In [42]:
#08-a Please calculate the result, evaluating your x_test, one_hot_test_label, and see how accurate your model works.

In [89]:
test_loss, test_acc = model.evaluate(x_test, one_hot_test_labels)

1/1 [==============================] - 0s 178ms/step - loss: 0.1758 - accuracy: 0.9333

In [44]:
#09-a Now, we repeate all we have done in #06-a with the following parameters:
#     In the first and second layers, use 10 hidden units (neurons) and a 'relu' activation function.
#     For the last layer, we need to use 3.

In [90]:
model = models.Sequential()
model.add(layers.Dense(10, activation='relu'))
model.add(layers.Dense(10, activation='relu'))
model.add(layers.Dense(3, activation='softmax'))

In [46]:
#09-b Use the same setting as you have done for #06-b (compile phase using 'rmsprom' and et cetera)

In [91]:
model.compile(optimizer='rmsprop',loss='categorical_crossentropy',metrics=['accuracy'])

In [48]:
#09-c Please fit your model using epoch=4, batch = 10.

In [92]:
model.fit(x_train, one_hot_train_labels, epochs=4, batch_size=10)

Epoch 1/4
12/12 [==============================] - 1s 2ms/step - loss: 2.8459 - accuracy: 0.4000
Epoch 2/4
12/12 [==============================] - 0s 2ms/step - loss: 2.4381 - accuracy: 0.6500
Epoch 3/4
12/12 [==============================] - 0s 2ms/step - loss: 2.1477 - accuracy: 0.6667
Epoch 4/4
12/12 [==============================] - 0s 2ms/step - loss: 1.8922 - accuracy: 0.6667

In [50]:
#09-d Please calculate the result, evaluating your x_test, one_hot_test_label, and see how accurate your model works.

In [94]:
test_loss, test_acc = model.evaluate(x_test, one_hot_test_labels)

1/1 [==============================] - 0s 20ms/step - loss: 1.9301 - accuracy: 0.6333

In [52]:
#10-a Please explain all you have learned from this assignment. 
# Theese are some quiestions that you could answer:
# How the number of layers or hidden units could impact the accuracy of our model.
# Do we always suffer from overfitting?
# How can we find and manage overfitting?

Double-click here to start typing your answer:
The number of layers impacts the accuracy of our models. On the second example we can see that our accuracy went down by about 0.3% due to the limited amount of layers. With only 10 layers our model did not have enough "resources" to really learn the data pattern. On the other hand, the model with 100 layers is also not the best for this data set. We can see that after the 7th layer, the accuracy goes fluctuates between going up and down, showing that our model is actually "guessing" the results by using the already learned data. In that case we could use less layers to get a more accurate result

In [53]:
#10-b
# Please try different sessing as we did in #09
# You can change the number of layers, hidden units, compile parameters, number of epochs, batch_size... everything!
# Please change one parameter at a time.
# And share your experience.

In [95]:
model = models.Sequential()
model.add(layers.Dense(40, activation='relu'))
model.add(layers.Dense(40, activation='relu'))
model.add(layers.Dense(3, activation='softmax'))

In [97]:
model.compile(optimizer='rmsprop',loss='categorical_crossentropy',metrics=['accuracy'])

In [98]:
model.fit(x_train, one_hot_train_labels, epochs=20, batch_size=10)

Epoch 1/20
12/12 [==============================] - 1s 2ms/step - loss: 0.9318 - accuracy: 0.6250
Epoch 2/20
12/12 [==============================] - 0s 2ms/step - loss: 0.7932 - accuracy: 0.7083
Epoch 3/20
12/12 [==============================] - 0s 2ms/step - loss: 0.7256 - accuracy: 0.7667
Epoch 4/20
12/12 [==============================] - 0s 2ms/step - loss: 0.6660 - accuracy: 0.8167
Epoch 5/20
12/12 [==============================] - 0s 2ms/step - loss: 0.6227 - accuracy: 0.8417
Epoch 6/20
12/12 [==============================] - 0s 2ms/step - loss: 0.5826 - accuracy: 0.8333
Epoch 7/20
12/12 [==============================] - 0s 1ms/step - loss: 0.5467 - accuracy: 0.8583
Epoch 8/20
12/12 [==============================] - 0s 2ms/step - loss: 0.5260 - accuracy: 0.8750
Epoch 9/20
12/12 [==============================] - 0s 2ms/step - loss: 0.4893 - accuracy: 0.8500
Epoch 10/20
12/12 [==============================] - 0s 2ms/step - loss: 0.4581 - accuracy: 0.8750
Epoch 11/20
12/12 [==============================] - 0s 2ms/step - loss: 0.4398 - accuracy: 0.8833
Epoch 12/20
12/12 [==============================] - 0s 2ms/step - loss: 0.4182 - accuracy: 0.9167
Epoch 13/20
12/12 [==============================] - 0s 2ms/step - loss: 0.4016 - accuracy: 0.9000
Epoch 14/20
12/12 [==============================] - 0s 2ms/step - loss: 0.3817 - accuracy: 0.9500
Epoch 15/20
12/12 [==============================] - 0s 3ms/step - loss: 0.3667 - accuracy: 0.9500
Epoch 16/20
12/12 [==============================] - 0s 2ms/step - loss: 0.3437 - accuracy: 0.9333
Epoch 17/20
12/12 [==============================] - 0s 2ms/step - loss: 0.3277 - accuracy: 0.9333
Epoch 18/20
12/12 [==============================] - 0s 2ms/step - loss: 0.3287 - accuracy: 0.9417
Epoch 19/20
12/12 [==============================] - 0s 2ms/step - loss: 0.3080 - accuracy: 0.9417
Epoch 20/20
12/12 [==============================] - 0s 2ms/step - loss: 0.2889 - accuracy: 0.9667

In [100]:
test_loss, test_acc = model.evaluate(x_test, one_hot_test_labels)

1/1 [==============================] - 0s 19ms/step - loss: 0.3268 - accuracy: 0.8000

---
# Deliverables:
1. Please, submit the current ipynb file with your responses.
2. Please, record and upload to YouTube a 5 to 10 minutes video recorded clip, describing all you have done. If you go beyond 10 minutes, it is fine. The mentioned time range is to show how the scale of the assignment could be.  
Then submit the link to the uploaded YouTube video in the **Text Submision section** (see image below).  

![image.png](https://i.ibb.co/gjW5wYC/bb-submission-instructions.png)

**Summary:**

In short, what we need to submit are:

a)	The current **ipynb file** that contains all the code (5 marks).

b)	The **YouTube link** of your recorded video in the **Text Submission section** (5 marks).

Wish you only the best, Dear Team Members!

Reza